<!DOCTYPE html>
<html lang="fr">

<head>
    <title>cRER UN COMPTE </title>
</head>

<body>
    <h1 class="text-center">connection</h1>

    <div class="container"></div>
    <div class="form-group row">
        <div class="col-md-6">
            <!--Champs pour renseigner le nom d'utilisateur (nom) -->
            <div class="mb-3">

                <label for="UserName" class="form-label form-control-sm">Nom d'utilisateur  </label>
                <input type="text" class="form-control" id="UserName" placeholder="Dupuis" required>
            </div>



            <!--Champs pour renseigner le mot de passe -->
            <div class="mb-3">
                <label for="UserPassword" class="form-label">Mot de passe </label>
                <input type="password" onchange="validerMotDePasse()" class="form-control" id="UserPassword" placeholder="********" required>
            </div>





            <!--Bouton pour valider le formulaire-->
            <button id="connect" type="submit" class="btn btn-primary" onclick="doubleAuth">Se connecter </button>

        </div>

        <!--2e partie de la page pour afficher le lien double authentification-->
        <div class="col-md-6" id="lienDoubleAuthentification" style="display:none;">
            <h2>double authentification</h2>
            <p>lien envoyé par mail pour valider la double authentification</p>
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">valider double authentification </a>



        </div>
    </div>
    <script type="text/javascript" src="../js/validationformulaire.js"></script>
    <script type="text/javascript" src="../js/sendingDatas.js"></script>
</body>
</html>