<!--page d'offre-->
<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Choisir offre  </title>
</head>

<body>
    <h1>Voici les offres disponibles pour cette épreuve </h1>
    <div class="container">
        <div class="form-check">
            <input class="form-check-input" type="radio" id="solo" name="offer" value="solo" />
            <label class="form-check-label" for="solo"> Offre Solo 1 personne</label>

        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" id="Duo" name="offer" value="Duo" />
            <label class="form-check-label" for="Duo"> Offre Duo pour 2 personnes</label>


        </div>

        <div class="form-check">
            <input class="form-check-input" type="radio" id="family" name="offer" value="family" />
            <label class="form-check-label" for="family"> Offre family pour 4 personnes</label>

        </div>
    </div>

</body>
</html>

