@{
    ViewData["Title"] = "page Selection";
}

    <h1>Selection Page</h1>
    <p>Welcome to the selection page. Please choose an option below:</p>
    <ul>
        <li><a href="option1.html">Option 1</a></li>
        <li><a href="option2.html">Option 2</a></li>
        <li><a href="option3.html">Option 3</a></li>
    </ul>
  

